# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Javascript-Toolbox.iml
# Datasource local storage ignored files
/../../../../../../:\Projects\Javascript-Toolbox\.idea\.idea.Javascript-Toolbox.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
